<!DOCTYPE html>
<html>
<head>
  <title>Blog Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
        </div>
    <a href="{{ url_for('teaminfo') }}" class="btn btn-outline-success my-2 my-sm-0">Team Info</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <a href="{{ url_for('new_post') }}" class="btn btn-outline-success my-2 my-sm-0">New Post</a>
    </div>
  </nav>
  <main role="main" class="container">
    <div class="row">
      {% for post in data %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post['title'] }}</h5>
            <p class="card-text">{{ post['content'] }}</p>
            <p class="card-text"><small class="text-muted">{{ post['date'] }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</body>
</html>
