<!DOCTYPE html>
<html>
<head>
  <title>Team Intros</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
        </div>
    <a href="{{ url_for('teaminfo') }}" class="btn btn-outline-success my-2 my-sm-0">Team Info</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <a href="{{ url_for('new_post') }}" class="btn btn-outline-success my-2 my-sm-0">New Post</a>

    </div>
  </nav>

  <main role="main" class="container">

</head>
<body>

<h2>Welcome to our Team!</h2>
<p>
Check out our team members below:
</p>
<br>
<br>
<header>
  <u><h2>Members</h2></u>

</header>

<section>
  <nav>
    <ul>
      <li><a href="#owensenowitz">Owen Senowitz</a></li>
      <li><a href="#jameskinlaw">James Kinlaw</a></li>
      <li><a href="#abanoubsafwatalfyattalla">Abanoub Safwat Alfy Attalla </a></li>
    </ul>
  </nav>
<br><br>
  <article>
    <h2 id="owensenowitz">Owen Senowitz</h2>
    <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
  </article>
<br><br>
  <article>
    <h2 id="jameskinlaw">James Kinlaw</h2>
    <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
  </article>
    <br><br>
    <article>
    <h2 id="abanoubsafwatalfyattalla">Abanoub Safwat Alfy Attalla </h2>
    <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
    <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
  </article>
</section>

<footer>
  <p>Have a wonderful semester!</p>
</footer>

</body>




  </main>
</body>
</html>

